.card {
    width: 18rem;
    margin: 3% auto;
    border: 4px solid #ccfbfe
}

h1{
    font-family: 'ZCOOL KuaiLe', cursive;
    margin: 2% auto;
    font-size: 3.4rem;
}

p, h3, label{
    font-family: 'Black Han Sans', sans-serif;
    font-weight: 200;
}

.SmurfForm {
    margin: 2% 5%;
}

.form-control {
    border: 3px solid #ccfbfe;
}

.btn{
    margin-right: 30%;
    background-color: #ccfbfe;
}